[submodule "apps/myApps/ofTessellationTest"]
	path = apps/myApps/ofTessellationTest
	url = git@github.com:patrickFuerst/ofTessellationTest.git
[submodule "projectGenerator"]
	path = projectGenerator
	url = C:\\Users\\Patrick\\DEV\\openFrameworks\\apps\\projectGenerator
