[submodule "apps/myApps/ofTessellationTest"]
	path = apps/myApps/ofTessellationTest
	url = git@github.com:patrickFuerst/ofTessellationTest.git
[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/openframeworks/projectGenerator.git