[submodule "apps/projectGenerator/projectGeneratorSimple"]
	path = apps/projectGenerator/projectGeneratorSimple
	url = https://github.com/ofZach/projectGeneratorSimple.git
[submodule "apps/myApps/ofTessellationTest"]
	path = apps/myApps/ofTessellationTest
	url = git@github.com:patrickFuerst/ofTessellationTest.git
